.Small_Description-back {
    width: 100%;
    height: 100vh;
    background: linear-gradient( #19191900, #191919), url("../../deteils/image/background.png");
    background-size: cover;
    /* padding-top: 62px; */
}

.Small_Description-main {
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-first {
    max-width: 550px;
    max-height: 700px;
    width: 100%;
    height: 100%;
}

.name {
    display: flex;
}

.Small_Description-left {
    max-width: 420px;
}