.About_US-object{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
}

.About_US-object-first{
    min-width: 46px;
    margin-right: 30px;
}

.About_US-object-dots{
    position: fixed;
}

.Dots{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    margin-top: 10px;
}
.Dot{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    transition-duration: 0.3s;
}
.Dot:hover{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 7px solid rgb(39, 39, 39, 0.4);
    transition-duration: 0.2s;
}

#dot-1{
    background-color: #2F7B7F;
}
#dot-2{
    background-color: #A73D3D;
}
#dot-3{
    background-color: #A49E7D;
}
#dot-4{
    background-color: #327444;
}
#dot-5{
    background-color: #394396;
}
#dot-6{
    background-color: #983C68;
}